# cmake build
bin/
lib/
build/
# python cache
__pycache__/
*.py[cod]
# egs
egs/*/exp/
egs/*/sps/
egs/*/data/
egs/*/stft/
egs/*/mask/
# figure dir
figure/
# vscode configure
.vscode/
# mypy cache
.mypy_cache/
# egs scp
*.scp
*.log
# python tmp dir
scripts/sptk/create_*
scripts/sptk/test_*
scripts/sptk/\.*.py

# clang format
.clang-format